@using GBCSporting_X_TEAM.Models.ViewModels
@model IncidentViewModel

@{
    string title = ViewBag.Action + " Incident";
    ViewBag.Title = title;
}

<h2>@title</h2>


<h7>Technician:                   @Model.TechnicianName </h7>
<br />
<h7>Customer:                     @Model.firstName @Model.LastName</h7>
<br />

<h7>Product:                      @Model.ProductName</h7>
<br />

<h7>Title:                        @Model.Title</h7>
<br />

<h7>Date Opened:                  @Model.DateOpened</h7>
<br />




@*<h4>Technician: @ViewBag.Incidents.Technician.Name</h4>
<h4>Customer: @ViewBag.Incidents.Customer.FirstName</h4>*@

<div class=" container frm-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>@ViewData["Title"]</h2>
            </div>

        </div>
    </div>





<form asp-action="Edit" method="post"> 


    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>



    <div class="form-group">
        <label asp-for="DateClosed">Date Closed</label>
        <input asp-for="DateClosed" class="form-control">
    </div>
     <input type="hidden" asp-for="IncidentId" />
     <input type="hidden" asp-for="ProductId" />
     <input type="hidden" asp-for="CustomerId" />
    <input type="hidden" asp-for="TechnicianName" />
    <input type="hidden" asp-for="TechnicianId" />
    <input type="hidden" asp-for="ProductName" />
    <input type="hidden" asp-for="firstName" />
    <input type="hidden" asp-for="LastName" />
    <input type="hidden" asp-for="Title" />
     <input type="hidden" asp-for="DateOpened" />
    

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="UpdateIncident" asp-action="Index" asp-route-id="@Model.TechnicianId" class="btn btn-primary">Cancel</a>
</form>
</div>