@model List<Incident>
@{

}

<h1>@ViewBag.ID</h1>
@if (!string.IsNullOrEmpty(ViewBag.message)){            
    <h1>@ViewBag.message</h1>
}
else
{
    <table class="table table-bordered table-striped">
    <thead>
        <tr><th>Title</th><th>Tech</th><th>Customer</th><th>Product</th><th>Date Opened</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var incident in Model) {
            
                <tr>
                    <td>@incident.Title</td>
                    <td>@incident.Technician.TechnicianId</td>
                    <td>@incident.Customer.FirstName @incident.Customer.LastName </td>
                    <td>@incident.Product.Name</td>
                    <td>@incident.DateOpened</td>
                    <td>
                        <a asp-controller="UpdateIncident" asp-action="Edit"
                           asp-route-id="@incident.IncidentId">Edit</a>
                    </td>
                </tr>
        }
    </tbody>
    </table>
}

<a asp-controller="Home" asp-action="UpdateIncident">Switch Technician</a>
