@using GBCSporting_X_TEAM.Models.ViewModels
@model IEnumerable<IncidentViewModel>


   
    <h4>Techninican: @ViewBag.Name.ToString()</h4>


   <table class="table table-bordered tbl-hover tbl-fn-sm">
        <thead class="thead">
            <tr>
                <th>Title</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Date Opened</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var incident in Model)
            {
                <tr>
                    @if(incident.Title.Length > 60){
                        <td><span class="fn-md">@incident.Title</span></td>
                    }else{
                        <td>@incident.Title</td>
                    }
                    <td>@incident.firstName @incident.LastName</td>
                    <td>@incident.ProductName</td>
                    <td>@incident.DateOpened</td>
                     <td class="btn-table">
                        <a class=" btn btn-primary btn-sm rounded-2 main-blue " asp-controller="UpdateIncident" 
                        asp-action="Edit"
                        asp-route-id="@incident.IncidentId"
                        >
                            <img height=25 width=25 src="~/img/pencil.png"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<a asp-controller="Home" asp-action="UpdateIncident">Switch Technician</a>
