@using GBCSporting_X_TEAM.Models.ViewModels
@model IEnumerable<IncidentViewModel>
@{
    ViewData["Title"] = "Incident Manager";
}
<h4>@ViewData["Title"]</h4>



<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Title</th><th>Customer</th><th>Product</th><th>Date Opened</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var incident in Model) {
            <tr>
                <td>@incident.Title</td>
                <td>@incident.firstName @incident.LastName </td>
                <td>@incident.ProductName</td>
                <td>@incident.DateOpened</td>
                <td>
                    <a asp-controller="Incident" asp-action="Edit"
                       asp-route-id="@incident.IncidentId">Edit</a>
                    <a asp-controller="Incident" asp-action="Delete"
                       asp-route-id="@incident.IncidentId" asp-route-cid="@incident.CustomerId">Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Incident" asp-action="Add">Add Incident</a>