@model List<Technician>
@{
    ViewData["Title"] = "Technicians";
}

<div class=" container tb-wrapper">
     <div class="table-title">
            <div class="row">
                <div class="col-sm-6"><h2>@ViewData["Title"]</h2></div>

            </div>
        </div>


<table class="table table-bordered tbl-hover">
    <thead class="thead">
        <tr><th>Name</th><th>Email</th><th>Phone</th><th>Action</th></tr>
    </thead>
    <tbody>
        @foreach (var technician in Model) {
            <tr class="btn-table">
                <td>@technician.Name</td>
                <td>@technician.Email</td>
                <td>@technician.Phone</td>
                <td>
                    <a class=" btn btn-primary btn-sm rounded-2 main-blue " asp-controller="Technician" asp-action="Edit"
                       asp-route-id="@technician.TechnicianId"><img height=25 width=25 src="~/img/pencil.png"></a>
                    <a class=" btn btn-danger btn-sm rounded-2" asp-controller="Technician" asp-action="Delete"
                       asp-route-id="@technician.TechnicianId"><img height=25 width=25 src="~/img/delete.png"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary btn-md main-blue" asp-controller="Technician" asp-action="Add">Add Technician</a>
</div>