@model List<Technician>
@{
    ViewData["Title"] = "Technician Manager";
}
<h1>@ViewData["Title"]</h1>



<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th><th>Email</th><th>Phone</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var technician in Model) {
            <tr>
                <td>@technician.Name</td>
                <td>@technician.Email</td>
                <td>@technician.Phone</td>
                <td>
                    <a asp-controller="Technician" asp-action="Edit"
                       asp-route-id="@technician.TechnicianId">Edit</a>
                    <a asp-controller="Technician" asp-action="Delete"
                       asp-route-id="@technician.TechnicianId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Technician" asp-action="Add">Add Technician</a>