@using GBCSporting_X_TEAM.Models.ViewModels
@model IncidentViewModel

@{
    string title = ViewBag.Action + " Incident";
    ViewBag.Title = title;
}



<div class=" container frm-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>@ViewData["Title"]</h2>
            </div>

        </div>
    </div>


<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">        
        <label asp-for="CustomerId">Customer:</label>
        <select asp-for="CustomerId" class="form-control custom-select">
            <option value="">Select a Customer</option>
            @foreach(SelectListItem c in Model.Customers)
            {
                <option value="@c.Value">@c.Text</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ProductId">Product:</label>
        <select asp-for="ProductId"class="form-control custom-select">
             <option value="">select a Product</option> 
            @foreach(SelectListItem p in Model.Products)
            {
                <option value="@p.Value">@p.Text</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="TechnicianId">Technician:</label>
        <select asp-for="TechnicianId" class="form-control custom-select">
            <option value="">select a Technician</option> 
            @foreach(SelectListItem t in Model.Technicians)
            {
                <option value = "@t.Value">@t.Text</option>
            }
        </select>
    </div>

    <div class="form-group date-input">
        <label asp-for="DateOpened">Date Opened</label>
        <input asp-for="DateOpened" class="form-control">
    </div>

    <div class="form-group date-input ">
        <label asp-for="DateClosed">Date Closed</label>
        <input asp-for="DateClosed" class="form-control">
    </div>

    <input type="hidden" asp-for="IncidentId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Incidents" class="btn btn-primary">Cancel</a>
</form>
</div>