@model Registration
@{
    ViewData["Title"] = "Registrations";
}

<div>Customer ID: @Context.Session.GetInt32("custID")</div>
<div class="frm-wrapper w-75">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6"><h2>@ViewData["Title"]</h2></div>
        </div>
    </div>

    @foreach (var i in @ViewBag.CustName)
    {
    <h4>Customer: @i.FirstName @i.LastName</h4>
    }

    @if (!string.IsNullOrEmpty(ViewBag.message))
    {
    <h4>@ViewBag.message</h4>
    }
    else
    {

    <table class="table table-bordered tbl-hover">
        <thead class="thead">
            <tr><th>Product</th><th>Action</th></tr>
        </thead>
        <tbody>
            @foreach (Registration registration in ViewBag.Registrations)
                {

            <tr>
                <td>@registration.Product.Name</td>
                <td>
                    <a class=" btn btn-danger btn-sm rounded-2" asp-controller="Registration" asp-action="Delete"
                       asp-route-id=""><img height=25 width=25 src="~/img/delete.png"></a>
                </td>
            </tr>
                }
        </tbody>
    </table>

    }

    <form asp-action="Register" method="post" >
        <div class="form-group">
            <label asp-for="ProductId">Product:</label>
            <select asp-for="ProductId" class="form-control custom-select">
                <option value="">select a Product</option>
                @foreach (Product product in ViewBag.Products)
                {
                <option value="@product.ProductId">@product.Name</option>
                }
            </select>
        </div>
        @*<input type="hidden" asp-for="CustomerId" />*@
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>