@model Incident
@{
    ViewData["Title"] = "Registrations";
}

@foreach(var i in @ViewBag.CustName){
    <h1>Customer: @i.FirstName @i.LastName</h1>
}


@if (!string.IsNullOrEmpty(ViewBag.message)){            
    <h1>Registrations</h1>
    <h1>@ViewBag.message</h1>
}
else
{
    <div class=" container tb-wrapper">
     <div class="table-title">
            <div class="row">
                <div class="col-sm-6"><h2>@ViewData["Title"]</h2></div>

            </div>
        </div>
    <table class="table table-bordered tbl-hover">
    <thead class="thead">
        <tr><th>Product</th><th>Action</th></tr>
    </thead>
    <tbody>
        @foreach (Incident incident in ViewBag.Incidents) {
            
                <tr>
                    <td>@incident.Product.Name</td>              
                    <td>
                        <a class=" btn btn-danger btn-sm rounded-2" asp-controller="Registration" asp-action="Delete"
                           asp-route-id=""><img height=25 width=25 src="~/img/delete.png"></a>
                    </td>
                </tr>
        }
    </tbody>
    </table>
    </div>
}

<form>
    <div class="form-group">
        <label asp-for="ProductId">Product:</label>
        <select asp-for="ProductId" class="form-control">
             <option value="">select a Product</option> 
            @foreach(Product product in ViewBag.Products)
            {
                <option value="@product.ProductId">@product.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
